body {
    background-color: rgb(238, 243, 240) !important;
}


a {
    text-decoration: none !important;
    font-size: 18px  ;
    font-weight: bold;
  }

  tr {
    font-size: medium;
  }

.separator {
    border-left: 1px solid black; /* Ajoute une bordure de 1 pixel solide à gauche */
    height: 100%; /* Ajuste la hauteur du trait */
    margin-left: 10px; /* Ajoute une marge à gauche pour l'espacement */
}